.app-header{
    background-color: cadetblue;
    color: bisque;
    padding: 10px;
    top: 0;
    left: 0;
    position: relative;
    top: -8px;
    left: -8px;
    width: 100%;
}

.header-title{
    font-size: 24px;
    font-weight: bold;
    
}

.header-menu-title{
    font-size: 20px;
    padding: 8px;
    font-weight: 600;
    
}
